.header {
    position: sticky;
    z-index: 100;
    top: 0px;
    background-color: red;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.headerElement {
    margin-right: 40px;
    text-decoration: none;
    color: black;
}

.body {
    background-image: url("../public/torre_pisa_pendente.jpg");
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services {
    scroll-margin-top: 200px;
}

.serviceDiv {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.serviceImg {
    width: 200px;
}

#faqsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion {
    background-color: rgb(255, 255, 255, 0.1);
    width: 700px;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

.formField {
    background-color: rgb(255, 255, 255, 0.3);
}