@font-face {
    font-family: "PlusJakartaSans";
    src: local("PlusJakartaSans"), url("./fonts/PlusJakartaSans-VariableFont_wght.ttf") format(truetype);
}

#header {
    position: fixed;
    z-index: 100;
    top: 0px;
    background-color: rgb(0, 0, 0, 0.75);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#iconDrawer {
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 10px;
}

#underHeader {
    display: flex;
    justify-content: center;
}

#origine {
    position: absolute;
    top: 100px;
    left: 20%;
}

#origineMob {
    position: absolute;
    display: flex;
    top: 10px;
    left: 25%;
}

#diffuse {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(0deg, rgb(194, 207, 188), transparent);
    width: 100%;
    height: 120px;
}

#diffuseMob {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(0deg, rgb(194, 207, 188), transparent);
    width: 100%;
    height: 40px;
}

#florence {
    width: 100vw;
    max-width: 100%;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(194, 207, 188);
}

#bodyTop {
    height: 600px;
}

.bodyHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#home {
    scroll-margin-top: 121px;
}

#services {
    scroll-margin-top: 121px;
}

#FAQs {
    scroll-margin-top: 121px;
}

#payment {
    scroll-margin-top: 121px;
}

#contactUs {
    scroll-margin-top: 121px;
}

#about {
    scroll-margin-top: 121px;
}

.serviceSection {
    /*background-image: url("../public/foto_actas.webp");*/
}

.serviceDiv {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-bottom: 50px;
}

.serviceDivCol {
    display: flex;
    flex-direction: column;
}

.serviceImg {
    width: 200px;
}

.textServiceDiv {
    background-color: rgb(255,255,255,0.5);
    border: black;
    border-width: 2 px;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    width: 660px;
}

.accordion {
    background-color: rgb(255, 255, 255, 0.1);
    width: 70vw;
}

#contactForm {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.formField {
   /* background-color: rgb(255, 255, 255, 0.3);*/
}

.icon {
    margin-top: 10px;
    width: 40px;
}

#iconDiv {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.float {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}


#whatsapp_float {
    background-color: #25d366;
    color: #FFF;
}

#instagram_float { 
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}